h1 {
    display: inline-block;
    font-size: 30px;
}
header{
    margin-bottom: 25px;
    background-color: silver;
}
header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: blue; 
    text-decoration: none;
}
li {
    list-style-type: none;
}
footer {
    float: right;
    background-color: yellow;
}
main img{
    height: 300px;
    width: 500px;
    margin-bottom: 25px;
}