*{
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: grey;
}
.heading{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.profile{
    height:10vh;
    width:10vh;
    margin: 0px;
    padding: 0px;
}
h1{
    color:white;
    font-size: 3vh;
    display:inline-block;
    font-family: cursive, 'Courier New', Courier, monospace
}
header nav ul a{
    color:white;
}
.navigation{
    width: 15vh;
    height: 10vh;
    font-size: 2vh;
    display:inline-block;
    padding-right: 5vh;
}
.background-image{
    width:100%;
    height:500px;
}
.section-title{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.description, .link{
    width: 30vh;
    text-align: center;
    font-size: 2vh;
}
.about-me-description{
    width: 160vh;
}
.image{
    font-size: 2.5vh;
    text-align: center;
    height: 75vh;
    width: 40vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 200px;
    border: 3px solid black;
}
section img{
    height: 20vh;
    width: 30vh;
}
.title{
    text-align: center;
    font-size: 3vh;
    margin-bottom: 5vh;
}
footer{
    color: black;
    background-color: yellow;
}